
<div id="Conte">
    <h1>AGREGAR CANCIONES </h1>
<div id="Cont">
    <div id="Conteiner">
        <label for="">Ingrese el titulo </label>
        <input type="text" name="" id="">
        <label for=""> Ingrese el genero de la cancion </label>
        <input type="text" name="" id="">
        <label for="">ingrse el año de lanzamiento</label>
        <input type="date">
        <label for="">Duracion de la cancion</label>
        <input type="number" name="" id="">
        <label for="">Nombre del album</label>
        <input type="text">
    </div>  

</div>
   
<button>Registrar Cancion</button>

</div>
